@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-dmSans bg-cream text-darkBrown;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-lightBrown bg-clip-text text-transparent;
  }
}
