@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-dmSans bg-cream text-darkBrown;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-primary to-lightBrown bg-clip-text text-transparent;
  }
}

/* Custom scrollbar for wishes container */
.wishes-scroll::-webkit-scrollbar {
  width: 6px;
}

.wishes-scroll::-webkit-scrollbar-track {
  background: rgba(118, 70, 64, 0.1);
  border-radius: 10px;
}

.wishes-scroll::-webkit-scrollbar-thumb {
  background: rgba(118, 70, 64, 0.3);
  border-radius: 10px;
}

.wishes-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(118, 70, 64, 0.5);
}
